.review-container{
    margin: 20px;
}

.review-item{
    border: 1px solid goldenrod;
    border-radius: 10px;
    margin: 5px auto;
    width: 600px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}
.review-item img{
    width: 100%;
    border-radius: 20px;
    
}
.review-item p{
    padding-left: 20px;
    
}

.review-item button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: lightskyblue;
    color: red; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
}
.review-item button:hover{
    background-color: orange;

}